<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Codecool Shop</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>


    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <script src="static/js/shoppingCart.js" defer></script>

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css"/>
</head>

<body>

<div th:replace="header.html :: header"></div>

<div class="container">
    <div class="well well-sm">
        <strong>Shopping Cart</strong>
    </div>
    <div>
        <a href="/"><button>Vásárlás folytatása</button></a>
    </div>

    <div id="products" class="row list-group">
        <div th:switch="${shoppingCart.size()}">
            <div th:case="0">
                <h2>Your cart is empty</h2>
                <img id="empty_shopping_basket"
                     src="https://thumbs.dreamstime.com/b/empty-shopping-basket-chrome-8778239.jpg"
                     alt="shopping basket">

            </div>

            <div th:case="*">
                <div class="item col-xs-4 col-lg-4" th:each="entry : ${shoppingCart}">
                    <div class="thumbnail">
                        <img class="group list-group-image" src="http://placehold.it/400x250/000/fff"
                             th:attr="src='/static/img/product_' + ${entry.key.getId()} + '.jpg'" alt=""/>
                        <div class="caption">
                            <h4 class="group inner list-group-item-heading" th:text="${entry.key.getName()}">Product
                                name</h4>
                            <p class="group inner list-group-item-text" th:text="${entry.key.getDescription()}">Product
                                description... </p>
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <p class="lead" th:text="${entry.key.getPrice()}">100 USD</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-md-4">
                                    <a class="btn btn-danger remove" th:data-id="${entry.key.getId()}" href="/shopping-cart">Remove</a>
                                </div>
                                <div class="col-xs-12 col-md-8">
                                    <input title="Amount" class="amount" th:data-id="${entry.key.getId()}" type="number" th:value="${entry.value}">
                                    <a class="btn btn-success set" th:data-id="${entry.key.getId()}" href="/shopping-cart">Set</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <a href="/checkout"><button>Tovább</button></a>
    </div>

    <div class="well well-sm">
        <strong>Teljes összeg: </strong><span th:text="${sumPrice}">100 USD</span>
    </div>

</div>

<div th:replace="footer.html :: copy"></div>

</body>
</html>