<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Codecool Shop</title>

    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>



    <script src="static/js/index.js" defer></script>

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css"/>
</head>

<body>

<div class="jumbotron text-center">
    <h1>Codecool Shop</h1>
</div>

<div class="container">
    <div class="row">
        <a href="/shopping-cart"><img id="check_shopping_cart"
                                      src="http://icons.iconarchive.com/icons/icons8/ios7/256/Ecommerce-Shopping-Basket-icon.png"
                                      alt=""></a>
    </div>

    <div id="category well well-sm" th:each="cat,iterStat : ${categories}">
        <strong th:text="${cat.name}">Category Title</strong>
        <div id="products" class="row list-group">

            <div class="item col-xs-12 col-md-6 col-lg-4" th:each="prod,iterStat : ${products.getBy(cat)}">
                <div class="thumbnail">
                    <img class="group list-group-image" src="http://placehold.it/400x250/000/fff"
                         th:attr="src='/static/img/product_' + ${prod.id} + '.jpg'" alt=""/>
                    <div class="caption">
                        <h4 class="group inner list-group-item-heading" th:attr="id='product-name-' + ${prod.getId()}" th:text="${prod.name}">Product name</h4>
                        <p class="group inner list-group-item-text" th:text="${prod.description}">Product
                            description... </p>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <p class="lead" th:attr="id='size-' + ${prod.getId()}" th:text="'Méret: ' + ${prod.getSize()}">Size</p>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <p class="lead" th:attr="id='color-' + ${prod.getId()}" th:text="'Szín: ' + ${prod.getColor()}">Color</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <p class="lead" th:attr="id='price-' + ${prod.getId()}" th:text="${prod.getPrice()}">100 USD</p>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <a class="btn btn-success btn-add-to-cart" th:id="${prod.getId()}"
                                   data-toggle="modal" data-target="#addToCartModal">Kosárba tesz</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add to cart modal -->
<div class="modal fade" id="addToCartModal" tabindex="-1" role="dialog" aria-labelledby="addToCartLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h4 class="modal-title" id="addToCartLabel">Sikeres kosárba helyezés</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body bg-light text-dark">
                <div class="container-fluid">
                    <div class="row" id="product-to-cart"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Vásárlás folytatása</button>
                <a href="/shopping-cart"><button type="submit" class="btn btn-info">Kosár</button></a>
            </div>
        </div>
    </div>
</div>




<div th:replace="footer.html :: copy"></div>

</body>
</html>