<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Codecool Shop</title>

    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <script src="static/js/index.js" defer></script>

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />
</head>

<body>

<div class="jumbotron text-center">
    <h1>Codecool Shop</h1>
</div>

<div class="container">
    <div class="well well-sm">
        <strong>Checkout</strong>
    </div>

    <form>
        <p>
            <label name="user_name">Name</label><br>
            <input name="user_name" required>
        </p>
        <p>
            <label name="email">E-mail</label><br>
            <input name="e-mail" required>
        </p>
        <p>
            <label name="phoneNum">Phone number</label><br>
            <input name="phoneNum" required>
        </p>
        <p>
            <label name="zip">Zip code</label><br>
            <input name="zip" required>
        </p>
        <p>
            <label name="city">City</label><br>
            <input name="city" required>
        </p>
        <p>
            <label name="address">Address</label><br>
            <input name="address" required>
        </p>
        <h4>Billing address</h4>
        <p>
            <label name="bZip">Zip code</label><br>
            <input name="bZip">
        </p>
        <p>
            <label name="bCity">City</label><br>
            <input name="bCity">
        </p>
        <p>
            <label name="bAddress">Address</label><br>
            <input name="bAddress">
        </p>
        <button type="submit">Send</button>
    </form>

    <div>

    </div>

</div>

<div th:replace="footer.html :: copy"></div>

</body>
</html>